.divider {
    margin-top:20px;
    border: 1px solid #D6D7D8;
    width:100%;
}
.topdetails{
 display: flex;
    flex-grow: 1; /* Stretch to card width */
    flex-direction: row; /* Display items in a row */
    width: 100%;
    height: 60px; /* Remove fixed height for responsiveness */
    justify-content: space-between; /* Equal space between items */
    gap: 10px;
    padding: 10px; /* If needed */

}
.title{
font-size: 20px;
font-style: normal;
font-weight: 600;
color:#BE0000;
line-height: 28px;
}

.training{
font-style: normal;
font-weight: 600;
line-height: 24px;
color:#6D7070;
font-size: 16px;
}
.mangername{
font-size: 16px;
font-style: normal;
font-weight: 600;
line-height: 24px;
color:#4A4D4E;
}

.mangervalue{
color:#000000;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 24px;
}

.status{
color: #EB9700;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 24px;
}

.approvecontainer{
    display:flex;
    flex-direction:'';
}